/* 属性选择器 */
/* 可以是任意属性，但一般只用在title */
/* 第一种 选中具有title属性的元素 */
[title]{
    color: aqua;
}

/* 第二种 选中title+值*/
[title="biaoti"]{
    color: violet;
}

/* 第三种 选中title且值为a开头的元素 */
[title^="a"]{
    color: violet;
}

/* 第四种 选中title且值为a结尾的元素 */
[title$="a"]{
    color: violet;
}

/* 第五种 选中title且值含有a的元素 */
[title*="a"]{
    color: violet;
}